.center-text {
    display:flex;
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.color {
    background-color: rgb(196, 255, 226) !important;
}

.footer-position {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.center-content {
    margin-left: 47%;
    margin-top: 10px;
}
#search-button {
    color: white;
}
#ingr-search {
    color: gray;
}
#repo-container {
    color: black;
}
#repo-search-term {
    color: white;
}